.card-img-top {
    height: 250px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 24px;
  }
  
  .card-text {
    font-size: 16px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0062cc;
    border-color: #005cbf;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .list-group-item {
    font-size: 16px;
  }
  
  .badge-primary {
    background-color: #007bff;
  }
  
  .badge-success {
    background-color: #28a745;
  }
  .col-8 {
    max-width: 1000px;
    margin: 0 auto; /* İçeriğin merkezlenmesi için */
  }
 