.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-title {
  font-size: 24px;
}

.card-text {
  font-size: 16px;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.col-md-4 h2 {
  margin-top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.card {
  
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container {
  padding: 2px 16px;
}

h5 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.card-footer {
  border-top: 1px solid #dee2e6;
  background-color: #fff;
}
